*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/vcs.xml
/.idea/encodings.xml

.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/example/tariel/fuelemergency/MainActivity.java
